@import url(https://fonts.googleapis.com/css?family=Orbitron);

.project-container{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* margin: auto; */
    text-align: center;
}

.project-title {
     display: grid; 
    margin: 0;
    color: #fff;
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 2px #fff,
      0 0 4px rgb(179, 0, 255),
      0 0 8px rgb(179, 0, 255),
      0 0 9px rgb(179, 0, 255),
      0 0 10px rgb(179, 0, 255),
      0 0 15px rgb(179, 0, 255);
  }

  @keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(179, 0, 255),
        0 0 80px rgb(179, 0, 255),
        0 0 90px rgb(179, 0, 255),
        0 0 100px rgb(179, 0, 255),
        0 0 150px rgb(179, 0, 255);
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px rgb(179, 0, 255),
      0 0 73px rgb(179, 0, 255),
      0 0 80px rgb(179, 0, 255),
      0 0 94px rgb(179, 0, 255),
      0 0 140px rgb(179, 0, 255);
  
  }
}
.backbtn{
    display: grid;
    background-color: gray;
    border-radius: 1.2em;
    padding: 1em;
    padding-right: 2em;
    margin-left: 4em;
    margin-right: 4em;
    text-align: center;
    /* grid-column: start; */
    margin-bottom: 10em; 
}
.projectsub{
    display: block;
    margin: 1em;
    margin-left: 10em;
    margin-right: 10em;
    background-color: rgb(179, 179, 179);
    border-radius:0.8em;
    font-family: Arial, Helvetica, sans-serif;
}
.projectinfo{
   margin: 3em;
   margin-top: 2em;
   margin-bottom: 1em;
   font-family: Arial, Helvetica, sans-serif;
}
.likebtn{
    /* grid-column: end; */
    margin-top: 2em;
    background: none;
    border: 0;
    padding: 1em;
    display: inline-block;
    width: 0.3em;
    /* aspect-ratio: 1; */
    border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

.infocontainer{
    background-color: gray;
    border-radius: 2em;
    padding: 1em;
    margin: 4em;
}

.neontitleback{
    font-family:'Orbitron'; 
    margin:auto;
    margin-left: 5em;
    margin-right: 5em;
    justify-content: center;
    align-self: center;
    font-size: xx-large;
    padding: 0.4em;
    /* filter: drop-shadow( 0 -0 0.5rem rgb(22, 0, 30)); */
    background-color: rgb(47, 47, 47);
    border: solid 0.2em rgb(121, 121, 121) ;
    border-radius:0.8em;
    text-align: center;
    animation: pulsate 0.11s ease-in-out infinite alternate;  
}
