@import url(https://fonts.googleapis.com/css?family=Orbitron);

.project-container{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* margin: auto; */
    text-align: center;
    background-image:  linear-gradient(
        /* rgba(212, 92, 255, 0.513),  */
        rgba(27, 0, 37, 0.867),
        /* rgba(207, 74, 255, 0),  */
        rgba(207, 74, 255, 0), 
        rgba(27, 0, 37, 0.867)
      ),url('../../imgs/homebg.webp');
      background-repeat: no-repeat;
      /* background: rgba(34, 34, 34, 0.543); */
      /* box-shadow: inset 0 0 0 100% rgba(0,0,0,1); */
      /* background-size:80% 90%; */
      /* -o-background-size: 80% 90%;
      -webkit-background-size: 80% 90%; */
      background-size: contain;
}

.project-title {
     display: grid; 
    margin: 0;
    color: #fff;
    /* font-size: large; */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 2px #fff,
      0 0 4px rgb(179, 0, 255),
      0 0 8px rgb(179, 0, 255),
      0 0 9px rgb(179, 0, 255),
      0 0 10px rgb(179, 0, 255),
      0 0 15px rgb(179, 0, 255);
  }

@keyframes pulsate {
    
    100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(179, 0, 255),
        0 0 80px rgb(179, 0, 255),
        0 0 90px rgb(179, 0, 255),
        0 0 100px rgb(179, 0, 255),
        0 0 150px rgb(179, 0, 255);
    }
    
    0% {
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px rgb(179, 0, 255),
      0 0 73px rgb(179, 0, 255),
      0 0 80px rgb(179, 0, 255),
      0 0 94px rgb(179, 0, 255),
      0 0 140px rgb(179, 0, 255);
    }
}
.projectsub{
    display: block;
    margin: 1em;
    margin-left: 10em;
    margin-right: 10em;
    border-radius:0.8em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.projectinfo{
   margin: 3em;
   margin-top:1em;
   margin-bottom: 1em;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}
.likebtn{
    margin-right: 0.5em;
    background: none;
    border: 0;
    padding: 1em;
    display: inline-block;
    width: 0.3em;
    border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    cursor: pointer;
}
.likesection{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 1em;
}
.infocontainer{
    background-color: rgba(86, 86, 86, 0.127);
    border-radius: 2em;
    padding: 1em;
    margin: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    --glow-color: hsl(283, 100%, 50%);
    color: aliceblue;
    margin: auto;
    border: 0 solid var(--glow-color);
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.2em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.2em 0px var(--glow-color),
      0px 0px 0.3em 0px var(--glow-color);
}

.neontitleback{
    font-family:'Orbitron'; 
    margin:auto;
    margin-left: 35vh;
    margin-right: 35vh;
    justify-content: center;
    align-self: center;
    font-size: x-large;
    padding: 0.4em;
    background-color: rgb(47, 47, 47);
    border: solid 0.2em rgb(121, 121, 121) ;
    border-radius:0.8em;
    text-align: center;
    animation: pulsate 0.11s ease-in-out infinite alternate;  
}
.likes-counter{
    background-color: rgba(72, 72, 72, 0.948);
}
