.overlay{
  display: none;
  margin: auto;
		position: fixed;
		top: 0;
		bottom: 0;
		background: #27272737;
		width: 100vw;
		height: 250vh;
		z-index: 100;
}
.popup-container {
  display: none;
  position: fixed;
  margin: auto;
  margin-top: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  }

.popup {
  margin: auto;
  padding: 2em;
  border-radius: 2.2em;
  width: 80%;
  z-index: 200;
  
  --glow-color: hsl(283, 100%, 50%);

  background: none;
  color: var(--glow-color);
  border: 0 solid var(--glow-color);
  box-shadow: inset 0px 0px 0.2em 0px var(--glow-color),
    0px 0px 0.2em 0px var(--glow-color);
  }
  
  .popup .close-popup {
    border-radius: 2em;
    border: none;
    background: rgba(0, 0, 255, 0);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(209, 209, 209);
    float: right;
		padding: 10px;
		cursor: pointer;
  }
  .popup .close-popup:hover {
    
  --glow-color: hsl(283, 100%, 50%);
    color: var(--glow-color);
  }

  