.overlay{
  display: none;
  margin: auto;
		position: fixed;
		top: 0;
		bottom: 0;
		background: #27272737;
		width: 100vw;
		height: 150vh;
		/* opacity: 15%; */
		z-index: 100;
}
.popup-container {
  display: none;
  /* border-radius: 0.1em; */
  /* margin: auto; */
  position: fixed;
  /* justify-content: center;
  align-items: center; */
  top: -80%;
  left: 0;
  right: 0;
  bottom: 0;
  /* opacity: 10000%; */
  /* height: 100vh; */
  /* width: 100%; */
  /* background: #fff; */
  width: 220vh;
  height: 100vh;
  /* margin-left: -250px; Half the value of width to center div */
  /* margin-top: -250px; Half the value of height to center div */
  z-index: 200;
  }
  /* .popup-container:target {
    display: block;
    opacity: 1;
  } */

.popup {
  /* background-color: #5f5f5fb6; */
  margin: auto;
  padding: 2em;
  border-radius: 2.2em;
  width: 80%;
  z-index: 220;
  /* margin-bottom: 0; */
  --glow-color: hsl(283, 100%, 50%);

  background: none;
  color: var(--glow-color);
  border: 0 solid var(--glow-color);
  box-shadow: inset 0px 0px 0.2em 0px var(--glow-color),
    0px 0px 0.2em 0px var(--glow-color);
  }
  
  .popup .close-popup {
    border-radius: 2em;
    border: none;
    background: rgba(0, 0, 255, 0);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(209, 209, 209);
    float: right;
		padding: 10px;
		cursor: pointer;
  }
  .popup .close-popup:hover {
    
  --glow-color: hsl(283, 100%, 50%);
    color: var(--glow-color);
  }
  /* .popup .popup-content {
    max-height: 30%;
    overflow: auto;
  } */
  