.subheadingdetails{
  background-color: rgb(232, 232, 232);
  text-align: center;
  border-radius:0.5em;
  padding: 0.2rem;
  margin-top: 0.5em;
  width: 10em;
}
.clickproject{
  margin-top: 1em;
  text-align: center;
  padding: 0.3rem;
  background-color: rgb(98, 98, 98);
  border-radius:0.5em;
  
}

.rowlist{
    display: flex;
    position: relative;
    flex-direction: row;
    animation: slide-left 0.25s linear;
    animation-play-state:running;
    animation-duration: 3s;
}

.projectitem{
    padding:  2.5em;
    padding-top: 1.5em;
    /* width: 10em; */
    height: 10em;
    margin-left: 3em;

    background-image: url('../../imgs/box.png');
    background-size: cover;
    background-size:100% 100%;
    /* border: solid 1px black; */
    /* box-shadow: 0px 15px 10px -15px rgb(59, 0, 79);  */

    
}

@keyframes slide-left {
    from {
        transform: translateX(1000%);
        
      }
      to {
        transform: translateX(-10%);
        /* animation-play-state: paused; */
      }
}
