#bounceinbox {
    animation: bounceinbox 5s ease infinite;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    /* display: none; */
    /* opacity: 0; */
    
}
@keyframes bounceinbox{
0% {
    opacity: 0;
    transform: translateY(-1000px);
}
60% {
    opacity: 1;
    transform: translateY(-30px);
}
80% { transform: translateY(10px); }
100% { transform: translateY(0); }
}



