#bounceinbox {
    animation: bounceinbox 3s ease infinite;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
    
}
#glitchin{
    opacity: 0;
    animation: glitch 3s ease infinite;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes glitch{
    0% {
        opacity: 0;
    }
    100% { 
         opacity: 1;
    }
}

@keyframes bounceinbox{
    0% {
        opacity: 0;
        transform: translateY(-100em);
    }
    100% { 
        transform: translateY(0); opacity: 1;
    }
}

