#bounceinbox {
    animation: bounceinbox 3s ease infinite;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
    
}
#glitchin{
    opacity: 0;
    animation: glitch 3s ease infinite;
    animation-delay: 3.4s;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}
#boxlightup{
    /* box-shadow: none; */
    animation: lightupbase 2s ease infinite;
    animation-delay: 2.5s;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}
@keyframes glitch{
    0% {
        opacity: 0;
    }
    100% { 
         opacity: 1;
    }
}

@keyframes bounceinbox{
    0% {
        opacity: 0;
        transform: translateY(-100em);
    }
    100% { 
        transform: translateY(0); opacity: 1;
    }
}

@keyframes lightupbase{
    0%{
        opacity: 1;
        /* filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210)); */
        
    }
    100%{
        filter: drop-shadow(0 -7mm 1.5em rgb(210, 63, 255));
    }
}
