.projecthighlighteditem{
    /* display: flex; */
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    filter: brightness(80%);
    width: 16vh;
    /* perspective: 1000px; */
    /* transition: .3s;  */
    /* transform: rotateY(40deg); */
    /* transform: scale(0.98) translateZ(-20px); */
    padding:  2.5em;
    height: 10rem;
    margin-bottom: -1.2vh;
    margin-right: 0;
    background-image: url('../../imgs/box.png');
    background-size: cover;
    background-size:100% 100%;
    transform: perspective(50em) rotateY(35deg);
}
.viewport-block{
   display: grid;
   grid-template-columns: 20% 20% 40% 20%;
   gap: 0;
   /* margin-bottom: 5%; */
    box-shadow: 0em 2em 2.6em -1em black;
}

.projecthighlightedinfo{
    font-family:'Orbitron'; 
    background-color: gray;
    font-size: larger;
    min-height: 30vh;
    padding: 2em;
    margin-left: 0;
    margin-bottom: -2vh;
    /* margin-bottom: 0; */
    border: solid purple 0.1rem;
    border-radius: 2em;
    transform: perspective(100rem) rotateY(-30deg);
}


.base{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 0;
    width: 70%;
    height: 1vh;
    /* background-color: rgba(0, 0, 0, 0.812); */
    /* box-shadow: 1em 1em 3em 2em black; */
    margin-bottom: 6%;
}
.bottombase{
    width: 70%;
    height: 5vh;
}

@media only screen and (max-width: 760px) {

    .projecthighlighteditem{
        margin-right: 1em;
        width: 14vh;
    }
    .viewport-block{
        grid-template-columns: 10% 20% 60% 10%;
        gap: 1em;

     }
    .projecthighlightedinfo{
        font-size: large;
       
        margin-left: 1em;
       
        transform: perspective(50rem) rotateY(-30deg);
    }
    
  
  } 
  