.projectsectitle {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* margin-top: ; */
    font-size: xxx-large;
    color: #fff;
    animation: pulsate 0.11s ease-in-out infinite alternate;    
  
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 2px #fff,
      0 0 4px rgb(179, 0, 255),
      0 0 8px rgb(179, 0, 255),
      0 0 9px rgb(179, 0, 255),
      0 0 10px rgb(179, 0, 255),
      0 0 15px rgb(179, 0, 255);
  }
  
  .projectsectitleback{
    font-family:'Orbitron'; 
    margin: auto;
    align-self: flex-end;
    font-size: xx-large;
    padding: 0.2rem;
    filter: drop-shadow( 0 -0 0.5rem rgb(22, 0, 30));
    background-color: rgb(47, 47, 47);
    border: solid 0.1em rgb(121, 121, 121) ;
    width: 12.5em;  
    /* max-height: 4em; */
    margin-top: 5%;
    border-radius:0.4em;
    text-align: center;
    /* animation: pulsate 0.11s ease-in-out infinite alternate;     */
  }



.projecthighlighteditem{
    /* display: flex; */
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    filter: brightness(80%);
    width: 16vh;
    /* perspective: 1000px; */
    /* transition: .3s;  */
    /* transform: rotateY(40deg); */
    /* transform: scale(0.98) translateZ(-20px); */
    padding:  2.5em;
    height: 10rem;
    margin-bottom: -1.2vh;
    margin-right: 0;
    background-image: url('../../imgs/box.png');
    background-size: cover;
    background-size:100% 100%;
    transform: perspective(50em) rotateY(35deg);
}
.viewport-block{
   display: grid;
   grid-template-columns: 20% 20% 40% 20%;
   gap: 0;
   /* margin-bottom: 5%; */
   box-shadow: 0em 2em 2.6em -1em black;
   background-image: linear-gradient(black,rgba(0, 0, 0, 0), rgba(0, rgb(136, 0, 255) 0));
}

.projecthighlightedinfo{
    font-family:'Orbitron'; 
    /* background-color: gray; */
    color: rgb(231, 231, 231);
    font-size: larger;
    min-height: 30vh;
    padding: 2em;
    margin-left: 0;
    margin-bottom: 5vh;
    /* margin-bottom: 0; */
    /* border: solid purple 0.1rem; */
    /* --glow-color: hsl(282, 100%, 43%); */
    border-radius: 2em;
    transform: perspective(110rem) rotateY(-30deg);
}

.lightupbase{
    position: relative;
    background-color: rgb(110, 110, 110);
    width: 25vh;
    height: 2vh;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: inset 1em 1em 3em -1em #121212;
    /* z-index: -1; */
}
.questedit{
    /* position: relative; */
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}
.base{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 0;
    width: 70%;
    height: 1vh;
    margin-bottom: 3%;
}
/* .bottombase{
    width: 70%;
    height: 5vh;
} */
.glitchcontainer{
    display: grid;
    margin: auto;
    width: 50em;
    margin-bottom: 0;
    grid-template-columns: auto;
}

/* .material-symbols-outlined{
    font-size: xxx-large;
} */

  