#continuesbg{
  /* background-image:  linear-gradient(
    rgba(27, 0, 37, 0.867),
    rgba(207, 74, 255, 0), 
    rgba(27, 0, 37, 0.867)
  ),url('../../imgs/homebg.webp'); */
  background-repeat: no-repeat;
  background-size: cover;
}
  .welcomeloader{
    z-index: 2;
    font-size: 20vh;
    margin: auto;
    font-family:'Orbitron'; 
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center; 
    
    color: #fff;
    animation: pulsate 0.11s ease-in-out infinite alternate;   
   
  }

  @keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
     }
}

#loader{
   animation: fadeOutAnimation ease 4s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

  .backloader{
    width: 100%; 
    height: 100vh;
    z-index: 1;
    display: flex;
    margin: auto;
    /* background-image:  linear-gradient(
      rgba(27, 0, 37, 0.867),
      rgba(207, 74, 255, 0), 
      rgba(27, 0, 37, 0.867)
    ), url('../../imgs/homebg.webp'); */
    background: radial-gradient(#10011b, #9198e500);
  }
 
  
  @keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(179, 0, 255),
        0 0 80px rgb(179, 0, 255),
        0 0 90px rgb(179, 0, 255),
        0 0 100px rgb(179, 0, 255),
        0 0 150px rgb(179, 0, 255);
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px rgb(179, 0, 255),
      0 0 73px rgb(179, 0, 255),
      0 0 80px rgb(179, 0, 255),
      0 0 94px rgb(179, 0, 255),
      0 0 140px rgb(179, 0, 255);
  
  }
}

  
  #myloaderDiv {
    display: none;
    text-align: center;
    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media only screen and (max-width: 760px) {

  .welcomeloader{
    font-size: 5vh;
    margin: auto;
    margin-top: 60%;
    margin-left: 20%;
    font-family:'Orbitron'; 
    font-weight: 600;
  }

} 

