@import url(https://fonts.googleapis.com/css?family=Orbitron);

.grid-container{
    gap: 10px;
    grid-template-columns: auto auto auto;
    /* display: grid; */
    /* grid-column: 1/2; */
}
.grid-container .item1{
    background: gray;
}

.item1{
    font-family:'Orbitron'; 
    margin:auto;
    align-self: center;
    font-size: xxx-large;
    padding: 0em;
    filter: drop-shadow( 0 -0 0.5rem rgb(22, 0, 30));
    background-color: rgb(47, 47, 47);
    border: solid 0.1em rgb(121, 121, 121) ;
    width: 14.5em;  
    /* max-height: 4em; */
    /* margin: 0; */
    border-radius:0.4em;
    text-align: center;
    animation: pulsate 0.11s ease-in-out infinite alternate;    
}
.item3{
    display: grid;
    margin: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 3em;
    max-width: 50em;
    background: rgb(87, 87, 87);
    border-radius: 1.5em 1.5em 0 0;
}
.goToProjects{
    /* max-width: 12em; */
    background-color: rgb(57, 57, 57) ;
    margin: auto;
    font-size: large;
    color: rgb(213, 213, 213);
    font-weight: 600;
    padding: 2em;
    border-radius: 1.5em;
    cursor: pointer;
}
.contactme{
    display: grid;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    /* color: rgb(80, 0, 145); */
    font-family: Arial, Helvetica, sans-serif;
}
.connectwithme{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 0.4rem;
    justify-content: center;
    align-items: center;
}
.linkedinbtn{
    background-image: url('../../imgs/linkedinlogo.png');
    background-size: cover;
    background-size: contain;
    margin: 0.5em;
    min-height: 2em;
    min-width: 2em;
    /* width: 30%; */
    height: 30%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    cursor: pointer;
}
.githubbtn{
    background-image: url('../../imgs/githublogo.png');
    background-size: cover;
    background-size: contain;
    min-height: 2em;
    min-width: 2em;
    margin: 0.5em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    /* margin: auto; */
    /* width: 30%; */
    height: 30%;
    cursor: pointer;
}
.backheader{
    background-color: rgb(104, 104, 104);
    margin-top: 0;
    margin: auto;
    /* min-width:60em; */
    /* max-width: 40em; */
    max-height: 5em;
    padding: 2em;
    width: 90%;
    border-radius: 0 0 0.8em 0.8em;
    box-shadow: 0px 15px 10px -15px rgb(59, 0, 79); 
    
}
.NeonBanner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fff;
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 2px #fff,
      0 0 4px rgb(179, 0, 255),
      0 0 8px rgb(179, 0, 255),
      0 0 9px rgb(179, 0, 255),
      0 0 10px rgb(179, 0, 255),
      0 0 15px rgb(179, 0, 255);
  }

  @keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(179, 0, 255),
        0 0 80px rgb(179, 0, 255),
        0 0 90px rgb(179, 0, 255),
        0 0 100px rgb(179, 0, 255),
        0 0 150px rgb(179, 0, 255);
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px rgb(179, 0, 255),
      0 0 73px rgb(179, 0, 255),
      0 0 80px rgb(179, 0, 255),
      0 0 94px rgb(179, 0, 255),
      0 0 140px rgb(179, 0, 255);
  
  }
}
