#moveALittleLeft{
    animation: rolloverLeft 4s infinite alternate ease ;
}
#moveALittleRight{
    animation: rolloverRight 3.8s infinite alternate ease ;
}

@keyframes rolloverLeft {
    0% {
        transform: translateY(-1em) perspective(110rem) rotateY(20deg)
    } 
    50%{
        transform: translateY(-2em) perspective(110rem) rotateY(20deg)
    
    }
    100%{
        transform: translateY(-1em) perspective(110rem) rotateY(20deg)
    }
}
@keyframes rolloverRight {
    0% {
        transform: translateY(-1em) perspective(110rem) rotateY(-20deg)
    } 
    50%{
        transform: translateY(-2em) perspective(110rem) rotateY(-20deg)
    
    }
    100%{
        transform: translateY(-1em) perspective(110rem) rotateY(-20deg)
    }
}
