.TeckStackList{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* border-left: 1em black solid; */
}

.TechSection{
    border-left: 0.1vh black solid;
    border-right: 0.1vh black solid;
}
