.TeckStackList{
  --glow-color: hsl(282, 100%, 50%);
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  margin-top: 2%;
  
  /* margin-bottom: 15%; */
  /* margin-bottom: 5.5%; */
  /* min-height: 100vh; */
  /* border-left: 1em black solid; */
}
.langgrid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 2%;
  gap: 1%;
  margin-top: 5%;
  /* top: 50%; */
}
img{
  display: flex;
  /* width: 70%; */
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3%;
}
.TechSecLang{  
 
    padding: 1vh;
    border-radius: 1.5rem;
    background-color: rgba(179, 179, 179, 0.595);
    border: solid var(--glow-color)0.1em;
    margin: 5%;
    margin-top: 4vh;
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
}
.BEgrid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin:2%;
  gap: 1%;
}
.TechSecBE{
  padding: 1vh;
  border-radius: 1.5rem;
  background-color: rgba(179, 179, 179, 0.595);
  border: solid var(--glow-color) 0.1em;

  margin: 5%;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
  0px 0px 0.5em 0px var(--glow-color);
-moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
  0px 0px 0.5em 0px var(--glow-color);
box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
  0px 0px 0.5em 0px var(--glow-color);
  /* margin-bottom: 5%; */
}
.FEgrid{
  display: grid;
  grid-template-columns: auto auto auto auto ;
  margin:2%;
  gap: 1%;
}
.TechSecFE{
  
  padding: 1vh;
  border-radius: 1.5rem;
  background-color: rgba(179, 179, 179, 0.595);;
  border: solid var(--glow-color) 0.1em;
  margin: 5%;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
  0px 0px 0.5em 0px var(--glow-color);
-moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
  0px 0px 0.5em 0px var(--glow-color);
box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
  0px 0px 0.5em 0px var(--glow-color);
}

.Dgrid{
  display: grid;
  grid-template-columns: auto auto ;
  margin:2%;
  gap: 1%;
}
.TechSecD{
  /* border-left: 0.1vh rgb(220, 220, 220) solid;
  border-right: 0.1vh rgb(220, 220, 220) solid; */
  padding: 1vh;
  border-radius: 1.5rem;
  background-color: rgba(179, 179, 179, 0.595);
  border: solid var(--glow-color) 0.1em;
  margin: 5%;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
  0px 0px 0.5em 0px var(--glow-color);
-moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
  0px 0px 0.5em 0px var(--glow-color);
box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
  0px 0px 0.5em 0px var(--glow-color);
}

.techstacktitle {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* margin-top: ; */
  color: #fff;
  animation: pulsate 0.11s ease-in-out infinite alternate;    

  text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 2px #fff,
    0 0 4px rgb(179, 0, 255),
    0 0 8px rgb(179, 0, 255),
    0 0 9px rgb(179, 0, 255),
    0 0 10px rgb(179, 0, 255),
    0 0 15px rgb(179, 0, 255);
}

.techstacktitleback{
  font-family:'Orbitron'; 
  margin: auto;
  align-self: flex-end;
  font-size: xx-large;
  padding: 0.2rem;
  filter: drop-shadow( 0 -0 0.5rem rgb(22, 0, 30));
  background-color: rgb(47, 47, 47);
  border: solid 0.1em rgb(121, 121, 121) ;
  width: 10em;  
  /* max-height: 4em; */
  /* margin: 0; */
  border-radius:0.4em;
  text-align: center;
  /* animation: pulsate 0.11s ease-in-out infinite alternate;     */
}


@media only screen and (max-width: 760px) {

  .TeckStackList{
    grid-template-columns: 100%;
  }
  img{
    width: 20%;
    height: 20%;
  }
  .langgrid{
    grid-template-columns: auto auto auto auto;

  }
  .BEgrid{
    grid-template-columns: auto auto auto auto ;

  }
} 

