.topbot{
    background-color: rgb(104, 104, 104);
    margin-top: 0;
    margin: auto;
    min-width:40em;
    /* max-width: 40em; */
    max-height: 4em;
    padding: 2em;
    border-radius: 0 0 0.8em 0.8em;
    box-shadow: 0px 15px 10px -15px rgb(59, 0, 79); 
    
}

.leval{
    padding: 0em;
    background-color: rgb(133, 133, 133);
    max-width: 25em;  
    margin-top: 3em;
    height: 4em;
    border-radius:1em;
    position: relative;
}

.movementarea{
    margin: auto;
    background-color: rgb(47, 47, 47);
    width: 23em;  
    height: 1.6em;
    border-radius:0.8em;
    position: absolute;
    top: 26%;   
    left: 4%;
}

.Controllerback{
    margin-top: 1em;
    background-color: gray;
    min-width: 10em;
    min-height: 8.3em;
    /* padding: 2em 0 2em 0; */
    position: relative;

}
.Controls{
    width: 60%;
    height: 9.5em;
    background-color: rgb(76, 76, 76);
    /* margin-bottom: 4em; */
    border-radius:2em 2em 0 0; 
    text-align: center;
    /* z-index: 1; */
    position: absolute;
    top: -15%;
    left: 20%;
    right: 20%;

}

.list {
    /* display: flex; */
    position: relative;
    margin-top: 8em;
    width: 5em;
    height: 10em; 
    animation: slide-right-click 0.25s linear;
    animation-play-state:paused;
    animation-duration: 2s;
    /* background-repeat: repeat-x; */
    /* color: black; */
    /* background-color: rgb(101, 101, 101); */

}

@keyframes slide-right-click {
    from {
        transform: translateX(-10%);    
      }
      to {
        transform: translateX(-300%);
        animation-fill-mode:forwards;
       }
       /* 100% {
        background-position: -8px 0%, -8px 50%;
      }*/
}  
@keyframes slide-left-click {
    from {
        transform: translateX(-10%);    
      }
      to {
        transform: translateX(300%);
        animation-fill-mode:forwards;
       }
       /* 100% {
        background-position: -8px 0%, -8px 50%;
      }*/
}  
