@import url(https://fonts.googleapis.com/css?family=Orbitron);

.projectspagecontainer{
  min-height: 80%;
  background-image:  linear-gradient(
 
      rgba(27, 0, 37, 0.867),
      rgba(207, 74, 255, 0), 
      rgba(27, 0, 37, 0.867)
    ),url('../../imgs/homebg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.topbot{
  
    margin-top: 0;
    margin: auto;
    width:95%;
    max-height: 3em;
    padding: 1.5em;
    border-radius: 0 0 0.8em 0.8em;
    
}
.mainbackbtn{
  --glow-color: hsl(283, 100%, 50%);

  background: rgba(57, 57, 57, 0.604);
  color: var(--glow-color);
  font-family: "Raleway", sans-serif;
  background: none;
    margin: auto;
    padding: 0.6em;
    font-size: large;
    border: 0.2em solid var(--glow-color);
    border-radius: 0.8em 0.8em 0.8em 0.8em; 
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 8s linear infinite; 
    cursor: pointer;
}

.mainbackbtn span{
    float: left;
    font-size: x-large;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 7s linear infinite;
}

.projectpageheader{
    font-family:'Orbitron'; 
    margin: auto;
    align-self: flex-end;
    font-size: xx-large;
    letter-spacing: 0.1em;
    padding: 0;
    filter: drop-shadow( 0 -0 0.5rem rgb(22, 0, 30));
    background-color: rgb(47, 47, 47);
    border: solid 0.1em rgb(121, 121, 121) ;
    width: 14.5em; 
    margin-top: -3%; 
    border-radius:0.4em;
    text-align: center;

}

.projectpageBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
    animation: pulsate 0.11s ease-in-out infinite alternate;    

    text-shadow:
      0 0 2px #fff,
      0 0 7px #fff,
      0 0 1px #fff,
      0 0 2px rgb(179, 0, 255),
      0 0 4px rgb(179, 0, 255),
      0 0 4px rgb(179, 0, 255),
      0 0 5px rgb(179, 0, 255),
      0 0 8px rgb(179, 0, 255);
}

.leval{
    background-color: rgb(133, 133, 133);
    max-width: 25em;  
    margin-top: 1em;
    height: 3.5em;
    border-radius:1em;
    position: relative;
    left:70%;
    box-shadow: 0 0 1em #393939;
}

.movementarea{
    margin: auto;
    background-color: rgb(47, 47, 47);
    width: 23em;  
    height: 2.2em;
    border-radius:0.8em;
    position: absolute;

    top: 20%;   
    left: 4%;
    box-shadow: inset 0 0 1em #161616;
}

.movementarea p{
    height: 100%;
    width: 100%;
    font-family:'Orbitron'; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fff;
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 2px #fff,
      0 0 4px rgb(179, 0, 255),
      0 0 8px rgb(179, 0, 255),
      0 0 9px rgb(179, 0, 255),
      0 0 10px rgb(179, 0, 255),
      0 0 15px rgb(179, 0, 255);
}

.Controllerarea{
    margin-top: 1em;
    gap: 0.1em;
    min-width: 100%;
    min-height: 10vh;
    position: absolute;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;

}
.Controls{
    
    position:absolute;
    bottom: 0; 
    --glow-color: hsl(283, 100%, 50%);
    color: var(--glow-color);
    border: 0.2em solid var(--glow-color);
    border-bottom: 0;
    width: 60%;
    height: 20vh;
    border-radius:2em 2em 0 0; 
    text-align: center; 
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
    justify-content: space-around;
    display: grid;
    grid-template-columns: 55% 25% 20%;
}

.list {
    position: relative;
    margin-top: 3.5em;
    width: 5em;
    height: 10em; 
    animation: slide-right-click 0.25s linear forwards;
    animation-play-state:paused;
    animation-duration: 3s;
    z-index: 10;
}
.CB-contianer2{
  margin-top: 12.5em;

}

@keyframes slide-right-click {
    from {
        transform: translateX(-10%);    
      }
      to {
        transform: translateX(-1500%);
        animation-play-state:paused; 
       }
}  
@keyframes slide-left-click {
    from {
        transform: translateX(-1500%);    
      }
    to {
        transform: translateX(-10%);
        animation-play-state:paused; 
       }
}  

.notice{
    background-color: rgb(174, 174, 174);
    margin-left: 35em;
    margin-right: 35em;
}

.movedisplay{
    margin: auto;
    background-color: rgb(47, 47, 47);
    width: 97%;  
    height: 80%;
    border-radius:0.8em;
    border: 0.2rem solid var(--glow-color) ;
    box-shadow: inset 0 0 1em #161616;
    overflow: hidden;
}
.messageboard{
  --glow-color: hsl(283, 100%, 50%);
    position: relative;
    background-color: rgba(133, 133, 133, 0);
    border: 0.2rem solid var(--glow-color);
    top: 30%;
    left: 5%;
    width: 90%;
    height: 7vh;
    border-radius:1em;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 1em #393939;
}
.messageboard p{
    height: 100%;
    width: 100%;
    font-family:'Orbitron'; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fff;
    text-shadow:
      0 0 2px #fff,
      0 0 5px #fff,
      0 0 1px #fff,
      0 0 2px rgb(179, 0, 255),
      0 0 4px rgb(179, 0, 255),
      0 0 4px rgb(179, 0, 255),
      0 0 5px rgb(179, 0, 255),
      0 0 7px rgb(179, 0, 255);
}
  /*----Scrolling text for message board-----------------*/
  #scrolltext {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    letter-spacing: 0.125em;
    -moz-animation: notice-animation 9s linear infinite;
    -webkit-animation: notice-animation 9s linear infinite;
    animation: notice-animation 9s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes notice-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes notice-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes notice-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }  
  /*---------------------------------------------------------~*/
  .controlscontainer{
    margin: auto;
    margin-top: 8%;
    justify-content: center;
    align-self: center;
    display: grid;
    grid-template-columns: auto;
  }
  .leftandright{
    display: grid;
    margin: auto;
    margin-top: -5%;
    justify-content: center;
    align-self: center;
    grid-template-columns: auto auto;
    gap: 30%;
  }
  .ControlsLeft{
    margin: auto;
    margin-left: -30%;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
  }
  .ControlsUp{
    margin: auto;
    border: none;
    background-color: #ffffff00;
    margin-bottom: -15%;
    cursor: pointer;
  }
  .ControlsDown{
    margin: auto;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
  }
.ControlsRight{
    /* position: relative; */
    /* display: flex; */
    /* margin: 5%; */
    /* justify-content: flex-start; */
    align-items: center;
    margin: auto;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
}
.material-symbols-outlined{
    font-size: xxx-large;
    /* color: #878787; */
    --glow-color: hsl(283, 100%, 50%);

    /* background: rgba(57, 57, 57, 0.604); */
    color: var(--glow-color);
    filter: drop-shadow(0 0 0.65rem rgb(145, 36, 255));
}
.projectitem.focus {
  filter: drop-shadow(0 0 2.5rem rgb(247, 240, 255));
}
.selectorbtn{
  --glow-color: hsl(283, 100%, 50%);
  color: var(--glow-color);
  background: none;
    margin: auto;
    font-weight: bold;
    padding: 0.6em;
    font-size: large;
    border: 0.2em solid var(--glow-color);

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
    cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding: 2em;
  margin-top: 18%;
  border-radius: 3.5em;
  margin-left: 0;
  /* left: 10%; */
  cursor: pointer;
}

.CB-contianer3{
  display: none;
}

