.arrows {
    width: 20vh;
    height: 10vh;
    position: absolute;
    left: 50%;
    margin-left: -3em;
    bottom: 2rem;
  }
  
  .arrows path {
    stroke: #a600ff;
    fill: transparent;
    stroke-width: 0.3em;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
  }
  
  @-webkit-keyframes arrow{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; 
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; 
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; 
  }
