
  .me{
    background-image: url('../../imgs/Nicole_French.png');
    width: 40vh;
    min-width: 10vh;
    /* min-height: 15vh; */
    height: 40vh;
    min-height: 10vh;
    /* min-height: 100%; */
    background-size: cover;
    /* height: 20em; */
    border-radius: 2em;
    display: flex;
    margin: auto;
    margin-top: 9vh;
    margin-right: 24vh;
    /* margin-bottom: 5%; */
    justify-content: center;
    align-items: center;
    border: 0.1em solid rgb(19, 19, 19);
    box-shadow: -1px -1px 1em rgba(213, 114, 255, 0.452);
  }

 .paragintro{
  /* padding: 1rem;
  margin: 1rem; */
  text-align: center;
 }
  
  @keyframes fadein {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  .grid-container-about{
    /* display: grid;
    grid-row: auto; */
    /* grid-template-columns: 70% 30%; */
    /* gap: 1%; */
    /* border:2em; */
    padding-top: 2%;
    /* grid-co */
    /* margin: 0; */
  }

 .sectionabouteffect{
  display: grid;
  grid-row: auto;
  width: 100%;
  grid-template-columns: 70% 30%;
  gap: 1%;
   /* margin: 0; */
    background-image: linear-gradient(rgba(24, 1, 43, 0), rgba(0, 0, 0, 0.754));
    background-size:100% 100%;
    background-size: cover;
 }

.techstacksection{
  
  width: 100%;
  background-image: linear-gradient(rgba(58, 0, 85, 0.754), rgba(235, 191, 255, 0.71), rgba(58, 0, 85, 0.754));
  background-size:100% 100%;
  margin: 0;
  background-size: cover;
}
.fade-about-info-items {
  position: relative;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* background: rgba(227, 227, 227, 0.307); */

  /* display: flex; */
  align-items: center;
  margin: 0;
  margin-top: 4%;
  
  width: 90%;
  min-height: 50%;
  padding: 4%;
  padding-bottom: 1%;
  text-align: start;
  color: rgb(232, 163, 255);
  /* border-radius: 4em; */
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  /* box-shadow: 1em 1em 1em rgb(67, 67, 67); */
}

.fade-about-info-items-2 {
  position: relative;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* background: rgba(173, 173, 173, 0.597); */
  align-items: center;
  margin: auto;
  /* margin-top: 1%; */
  width: 80%;
  min-height: 50%;
  padding: 1em;
  text-align: center;
  border-radius: 1em;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  
  /* display: flex; */
  /* box-shadow: 1em 1em 1em rgba(67, 67, 67, 0.446); */
  
}
