/* #root{
  background-color: rgb(85, 85, 85);
  background-image: url('./imgs/homebg.png');
  background-size: cover;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html, 
body{
    /* font-family: 'Proza Libre', sans-serif;
    font-weight: 400;
    font-size: 16px; */
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* position: relative; */
    width: 100%;
    background-image: url('./imgs/homebg.png');
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
}
footer{
  position:absolute;
  bottom: 0;
  /* justify-content: center;
  align-items: center; */
   /* margin-top: auto 0; */
}

@media only screen and (max-width: 760px) {

  main {
    margin: 0rem;
    margin-top: 1rem;
    flex-direction: column;
  }
}
